@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --grey: rgb(175, 175, 175);
  --darkgrey: rgb(75, 75, 75);
  --purple: rgb(124, 25, 116);
}

body {
  /* Background image is temp - Could not find artist to credit for the time being */
  background-image: url(./assets/background.gif);
  background-color: rgb(69, 64, 114);
  background-size: 100% 105%;
  height: 96vh;
  position: relative;
  font-family: "Press Start 2P", cursive;
  color: white;
  text-shadow: 4px 4px 8px hsl(0, 0%, 0%);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  width: 32%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  background-color: rgb(69, 64, 114);
  border: 4px solid rgb(172, 172, 172);
  padding: 2.5rem;
  -webkit-box-shadow: inset 0 0 33px 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 33px 5px rgba(0, 0, 0, 0.5);
}

/* Incase we wrap the buttons */
.button-container {
  display: block;
  width: 50%;

  position: relative;
  left: 153px;
  bottom: 250px;
}

ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 1em;
  font-size: small;
}

button {
  height: 3.0rem;
  width: 8.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 2px solid black;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--purple);
  color: var(--grey);
  font-family: "Press Start 2P", cursive;
  font-size: 13px;
}

button:hover {
  background-color: var(--darkgrey);
  color: var(--grey);
}

button:active {
  box-shadow: 2px 2px 1px rgb(0, 0, 0, 0.2);
  transform: translateY(4px);
}

/* Ipad Media Queries */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    background-size: 100% 106%;
  }

  button {
    height: 2.5rem;
    width: 8rem;
    margin: 0.5rem;
    padding: 0.5rem;
  }

  ul {
    display: block
  }

  .box {
    padding: 5%;
    height: 85%;
    width: 75%;
  }

  .button-container {
    width: 55%;
    left: 130px;
    bottom: 235px;
  }

}

/* Iphone Media Queries */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background-size: 130% 140%;
  }

  button {
    height: 2.5rem;
    width: 6.20rem;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 9px;
  }

  ul {
    display: block
  }

  .stat-text {
    font-size: 10px;
  }

  .container {
  width: 32%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  background-color: rgb(69, 64, 114);
  border: 4px solid rgb(172, 172, 172);
  padding: 2.5rem;
  -webkit-box-shadow: inset 0 0 33px 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 33px 5px rgba(0, 0, 0, 0.5);
}


  .box {
    padding: 0;
    height: 90%;
    width: 90%;
  }

  .button-container {
    width: 80%;
    left: 34px;
    bottom: 205px;
  }

}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
